<launch>
  <!-- Arguments -->
  <arg name="map_file"      default="/robot/map/gmap.yaml"/>
  <arg name="open_rviz"     default="false"/>
  <arg name="clear_params"  default="true"/>
  <arg name="output"        default="screen"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find fw_rev_04_navigation)/launch/fw_amcl.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find fw_rev_04_navigation)/rviz/fw_navigation_teb.rviz"/>
  </group>
    <!-- sync rgb/depth images per camera -->
  <group ns="camera">
   <node pkg="nodelet" type="nodelet" name="nodelet_manager1" args="manager"/>
   <node pkg="nodelet" type="nodelet" name="rgbd_sync1" args="load rtabmap_ros/rgbd_sync nodelet_manager1">
       <remap from="rgb/image"       to="/d455/color/image_raw"/>
       <remap from="depth/image"     to="/d455/aligned_depth_to_color/image_raw"/>
       <remap from="rgb/camera_info" to="/d455/color/camera_info"/>
     <param name="approx"          value="false"/>
   </node>
  </group>

  <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb" clear_params="$(arg clear_params)" output="$(arg output)">
    <remap from="rgbd_image"        to="/camera/rgbd_image"/>
    <remap from="cloud"             to="voxel_cloud" />

    <param name="decimation"  type="double" value="3"/>
    <param name="max_depth"   type="double" value="6"/>
    <param name="roi_ratios"  type="string" value="0 0 0 0"/> <!-- Region of interest ratios [left, right, top, bottom] (e.g., "0 0 0 0.2" will cut 20% of the bottom of the image). -->
    <param name="voxel_size"  type="double" value="0.05"/>
    <param name="approx_sync" type="bool"   value="false"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="standalone rtabmap_ros/obstacles_detection">
     <remap from="cloud" to="/voxel_cloud"/>
     <remap from="obstacles" to="/obstacle_cloud"/>

     <!-- <param name="min_cluster_size" type="int"  value="20"/> -->
     <param name="frame_id" type="string" value="base_footprint"/>
     <param name="map_frame_id" type="string" value="map"/>
     <param name="wait_for_transform" type="bool" value="true"/>
           <!-- all points below 50 cm are ground -->
      <param name="Grid/MaxGroundHeight"      type="string" value="0.03"/>       
      <!-- all points above 20 cm and below 2 m are obstacles -->
      <param name="Grid/MaxObstacleHeight"    type="string" value="1.5"/>     
      <param name="Grid/MinClusterSize"       type="int" value="20" />
     <!-- <param name="min_cluster_size" type="int" value="20"/> -->
  </node>

</launch>
